<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">群馬勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/selphyyyyy.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">Selphy</div>
        <div class="member-platform">
          <a href="https://x.com/Melodyy716" target="_blank">X</a>
          <a href="https://www.twitch.tv/selphyyyyy" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/gngn_kosino.webp">
      </div>
      <div class="member-info">
        <div class="member-name">ぐんこしの</div>
        <div class="member-platform">
          <a href="https://x.com/gngn_kosino" target="_blank">X</a>
          <a href="https://www.twitch.tv/gngn_kosino" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/super_toshiko.webp">
      </div>
      <div class="member-info">
        <div class="member-name">スーパーとし子。</div>
        <div class="member-platform">
          <a href="https://x.com/super_toshiko" target="_blank">X</a>
          <a href="https://www.twitch.tv/super_toshiko" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>