<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">埼玉勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/muramako.webp">
      </div>
      <div class="member-info">
        <div class="member-name">むらまこ</div>
        <div class="member-platform">
          <a href="https://x.com/muramako_2525" target="_blank">X</a>
          <a href="https://www.twitch.tv/murakamisuigun" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/sigusigu0714.webp">
      </div>
      <div class="member-info">
        <div class="member-name">しぐしぐしぐ</div>
        <div class="member-platform">
          <a href="https://x.com/sigusigu0714" target="_blank">X</a>
          <a href="https://www.twitch.tv/sigusigu0714" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set02">
        <img src="/images/member/ho_chan_2525.webp">
      </div>
      <div class="member-info">
        <div class="member-name">限界お姉さんほーちゃん</div>
        <div class="member-platform">
          <a href="https://x.com/ho_chan_2525" target="_blank">X</a>
          <a href="https://www.twitch.tv/ho_chan_2525" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>