<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">千葉勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image set01">
        <img src="/images/member/tomeru_ikinone.webp">
      </div>
      <div class="member-info">
        <div class="member-name">息根とめる</div>
        <div class="member-platform">
          <a href="https://x.com/tomeru_ikinone" target="_blank">X</a>
          <a href="https://www.twitch.tv/tomeru1" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/gen_don_dinos.webp">
      </div>
      <div class="member-info">
        <div class="member-name">ドン・ディノス将軍</div>
        <div class="member-platform">
          <a href="https://x.com/gen_don_dinos" target="_blank">X</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/manyochill2.webp">
      </div>
      <div class="member-info">
        <div class="member-name">まにょちる</div>
        <div class="member-platform">
          <a href="https://x.com/manyochill2" target="_blank">X</a>
          <a href="https://www.twitch.tv/manyochill" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>