<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">東京勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/okafps.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">okafps</div>
        <div class="member-platform">
          <a href="https://x.com/okafps" target="_blank">X</a>
          <a href="https://www.twitch.tv/oka_fps" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/crazysam.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">CrazySam</div>
        <div class="member-platform">
          <a href="https://x.com/CrazySam357" target="_blank">X</a>
          <a href="https://www.twitch.tv/crazysam4" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/billon.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">BILLON</div>
        <div class="member-platform">
          <a href="https://x.com/billo_no_trigge" target="_blank">X</a>
          <a href="https://www.twitch.tv/billon2525" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>