<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">神奈川勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/sovault.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">ソバルト</div>
        <div class="member-platform">
          <a href="https://x.com/SoVault" target="_blank">X</a>
          <a href="https://www.twitch.tv/sovault" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/widow.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">Widow</div>
        <div class="member-platform">
          <a href="https://x.com/_WIDOW__" target="_blank">X</a>
          <a href="https://www.twitch.tv/widow64" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/mikeneko.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">みけねこ。</div>
        <div class="member-platform">
          <a href="https://x.com/95rn16" target="_blank">X</a>
          <a href="https://www.twitch.tv/nekoko88" target="_blank">Twitch</a>
          <a href="https://www.youtube.com/@mikenekoko" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
  </div>
</section>