<section class="faction" id="sadogashima">
  <div class="modal-header">
    <h2 class="pref-name">神奈川(旧佐渡島)勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/vegasyamamoto.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">ベガスヤマモト</div>
        <div class="member-platform">
          <a href="https://x.com/VegasYamamoto" target="_blank">X</a>
          <a href="https://www.twitch.tv/vegasyamamoto" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/ukyochi_jp.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">うきょち</div>
        <div class="member-platform">
          <a href="https://x.com/Ukyochi_JP" target="_blank">X</a>
          <a href="https://www.twitch.tv/ukyochi_jp" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/sibuya_hajime.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">渋谷ハジメ</div>
        <div class="member-platform">
          <a href="https://x.com/sibuya_hajime" target="_blank">X</a>
          <a href="https://www.youtube.com/@ShibuyaHajime" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
  </div>
</section>