<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">新潟勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/mansaya.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">まんさや</div>
        <div class="member-platform">
          <a href="https://x.com/mansayadadada" target="_blank">X</a>
          <a href="https://www.twitch.tv/mansayasama" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set01 set04">
        <img src="/images/member/norashitagai.webp">
      </div>
      <div class="member-info">
        <div class="member-name">従井ノラ</div>
        <div class="member-platform">
          <a href="https://x.com/norashitagai" target="_blank">X</a>
          <a href="https://www.youtube.com/@nora_shitagai" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/natsuhiko_cs.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">夏彦</div>
        <div class="member-platform">
          <a href="https://x.com/natsuhiko_CS" target="_blank">X</a>
          <a href="https://www.youtube.com/@natsuhiko_CS" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
  </div>
</section>