<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">富山勢力</h2>
  </div>
  <div class="member-grid">

    <div class="member-card">
      <div class="member-image set01">
        <img src="/images/member/homura_kanan.webp">
      </div>
      <div class="member-info">
        <div class="member-name">ホムラカナン</div>
        <div class="member-platform">
          <a href="https://x.com/kanan_homura" target="_blank">X</a>
          <a href="https://www.youtube.com/@homura_kanan" target="_blank">YouTube</a>
        </div>
      </div>
    </div>

    <div class="member-card">
      <div class="member-image set01 set04">
        <img src="/images/member/mirawhite.webp">
      </div>
      <div class="member-info">
        <div class="member-name">白羽みら</div>
        <div class="member-platform">
          <a href="https://x.com/mirawhite_o0" target="_blank">X</a>
          <a href="https://www.youtube.com/@MiraWhite" target="_blank">YouTube</a>
        </div>
      </div>
    </div>

    <div class="member-card">
      <div class="member-image set05">
        <img src="/images/member/shia_morinyan.webp">
      </div>
      <div class="member-info">
        <div class="member-name">二藍しぃあ</div>
        <div class="member-platform">
          <a href="https://x.com/shia_morinyan" target="_blank">X</a>
          <a href="https://www.youtube.com/@shia_morinyan" target="_blank">YouTube</a>
        </div>
      </div>
    </div>

  </div>
</section>