<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">石川勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image set05">
        <img src="/images/member/kannacharo.webp">
      </div>
      <div class="member-info">
        <div class="member-name">かんなちゃろ</div>
        <div class="member-platform">
          <a href="https://x.com/kanna0kyun" target="_blank">X</a>
          <a href="https://www.youtube.com/@kanna0kyun" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set05">
        <img src="/images/member/thil.webp">
      </div>
      <div class="member-info">
        <div class="member-name">てぃる</div>
        <div class="member-platform">
          <a href="https://x.com/ThiL__" target="_blank">X</a>
          <a href="https://www.twitch.tv/thil__" target="_blank">Twitch</a>
          <a href="https://www.youtube.com/@ThiL__" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set06">
        <img src="/images/member/haruka.webp">
      </div>
      <div class="member-info">
        <div class="member-name">HaRuK@(はるか)</div>
        <div class="member-platform">
          <a href="https://x.com/HaRuKa2525_" target="_blank">X</a>
          <a href="https://www.twitch.tv/haruka0409" target="_blank">Twitch</a>
          <a href="https://www.youtube.com/@haruka25loid2" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
  </div>
</section>