<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">福井勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image set05">
        <img src="/images/member/nike.webp">
      </div>
      <div class="member-info">
        <div class="member-name">ニケ</div>
        <div class="member-platform">
          <a href="https://x.com/Nike_niconama" target="_blank">X</a>
          <a href="https://www.twitch.tv/n1ke1036" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set05">
        <img src="/images/member/woyatsu.webp">
      </div>
      <div class="member-info">
        <div class="member-name">をやつ</div>
        <div class="member-platform">
          <a href="https://x.com/woyatsu" target="_blank">X</a>
          <a href="https://www.youtube.com/@さんじのをやつ" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set05_01">
        <img src="/images/member/chiwa.webp">
      </div>
      <div class="member-info">
        <div class="member-name">ちワ</div>
        <div class="member-platform">
          <a href="https://x.com/chi_waFF15" target="_blank">X</a>
          <a href="https://www.youtube.com/@chiwachannel587" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
  </div>
</section>