<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">山梨勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/lil_dora.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">Lil Dora</div>
        <div class="member-platform">
          <a href="https://x.com/KSDR18" target="_blank">X</a>
          <a href="https://www.twitch.tv/lildora_twitch" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/miaonni.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">みあおんに</div>
        <div class="member-platform">
          <a href="https://x.com/i_am_miasn07" target="_blank">X</a>
          <a href="https://www.twitch.tv/miaonni" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/yunachannel.webp">
      </div>
      <div class="member-info">
        <div class="member-name">ゆなちゃんねる</div>
        <div class="member-platform">
          <a href="https://x.com/yunachan_tw" target="_blank">X</a>
          <a href="https://www.twitch.tv/yuna_ch_" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>