<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">北海道 西 勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/kurotansan.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">黒炭酸</div>
        <div class="member-platform">
          <a href="https://x.com/kurotansan_" target="_blank">X</a>
          <a href="https://www.youtube.com/c/kurotansan" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set02">
        <img src="/images/member/turuyajp.png" style="margin-left: -40%;">
      </div>
      <div class="member-info">
        <div class="member-name">つるやじぇぴー</div>
        <div class="member-platform">
          <a href="https://x.com/turuyajpp" target="_blank">X</a>
          <a href="https://www.twitch.tv/turuyajp" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set02">
        <img src="/images/member/hisuitumugi.png">
      </div>
      <div class="member-info">
        <div class="member-name">翡翠つむぎ</div>
        <div class="member-platform">
          <a href="https://x.com/HisuiTsumugi" target="_blank">X</a>
          <a href="https://www.twitch.tv/hisuitumugi" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>