<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">北海道 東 勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image set01 set03">
        <img src="/images/member/mitokurono.png">
      </div>
      <div class="member-info">
        <div class="member-name">未兎クロノ</div>
        <div class="member-platform">
          <a href="https://x.com/mitokurono" target="_blank">X</a>
          <a href="https://www.youtube.com/channel/UCNMB1XQO8RhoDBr6Ufa4RNw" target="_blank">YouTube</a>
          <a href="https://www.twitch.tv/kuronomito" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/n41ru.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">N41Ru</div>
        <div class="member-platform">
          <a href="https://x.com/n41ru" target="_blank">X</a>
          <a href="https://www.twitch.tv/n41ru" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/tamatthiii.png">
      </div>
      <div class="member-info">
        <div class="member-name">tamatthi</div>
        <div class="member-platform">
          <a href="https://x.com/tamatthiii" target="_blank">X</a>
          <a href="https://www.twitch.tv/tamatthi" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>