<section class="faction" id="hokkaido03">
  <div class="modal-header">
    <h2 class="pref-name">神奈川(旧道南)勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/aoharu.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">あおはる</div>
        <div class="member-platform">
          <a href="https://x.com/AoHarudayooo" target="_blank">X</a>
          <a href="https://www.twitch.tv/aoharudayo" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/kuroton.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">Meteor Kuroton</div>
        <div class="member-platform">
          <a href="https://x.com/Kuroton_apex" target="_blank">X</a>
          <a href="https://www.twitch.tv/kuroton" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/nemu.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">ねむ</div>
        <div class="member-platform">
          <a href="https://x.com/Nemu_unc" target="_blank">X</a>
          <a href="https://www.twitch.tv/nemu1739" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>