<section class="faction" id="hokkaido04">
  <div class="modal-header">
    <h2 class="pref-name">神奈川(旧道北)勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/kurenage_ralu.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">紅戯らる</div>
        <div class="member-platform">
          <a href="https://x.com/Kurenage_Ralu" target="_blank">X</a>
          <a href="https://www.twitch.tv/kurenage_ralu" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/mikami_kon.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">巫神こん</div>
        <div class="member-platform">
          <a href="https://x.com/mikami_kon" target="_blank">X</a>
          <a href="https://www.twitch.tv/mikami_kon" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/cr_topio.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">とっぴー</div>
        <div class="member-platform">
          <a href="https://x.com/CR_Topio" target="_blank">X</a>
          <a href="https://www.twitch.tv/crtopioxd" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>