<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">長野勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/hino.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">ヒノ</div>
        <div class="member-platform">
          <a href="https://x.com/hino_YT" target="_blank">X</a>
          <a href="https://www.youtube.com/@hino_YT" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/litzchoco.webp">
      </div>
      <div class="member-info">
        <div class="member-name">リッツちょこ</div>
        <div class="member-platform">
          <a href="https://x.com/Litz_choco" target="_blank">X</a>
          <a href="https://www.youtube.com/@Litzchoco" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/itatoha.webp">
      </div>
      <div class="member-info">
        <div class="member-name">いたとは</div>
        <div class="member-platform">
          <a href="https://x.com/itatoha_44" target="_blank">X</a>
          <a href="https://www.youtube.com/@itatoha" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
  </div>
</section>