<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">岐阜勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/amsk.webp">
      </div>
      <div class="member-info">
        <div class="member-name">雨岬</div>
        <div class="member-platform">
          <a href="https://x.com/a_m_s_k__" target="_blank">X</a>
          <a href="https://www.twitch.tv/a_m_s_k_" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/nemune_muni.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">眠音むに</div>
        <div class="member-platform">
          <a href="https://x.com/nemune_muni" target="_blank">X</a>
          <a href="https://www.youtube.com/@NemuneMuni" target="_blank">YouTube</a>
          <a href="https://www.twitch.tv/nemunemuni" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/midazuki_sakuro.webp">
      </div>
      <div class="member-info">
        <div class="member-name">ミダヅキサクロ</div>
        <div class="member-platform">
          <a href="https://x.com/midazuki_sakuro" target="_blank">X</a>
          <a href="https://www.twitch.tv/midazukisakuro" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>