<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">静岡勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/syrupchan0.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">天羽しろっぷ</div>
        <div class="member-platform">
          <a href="https://x.com/syrupchan0" target="_blank">X</a>
          <a href="https://www.twitch.tv/syrupchan0" target="_blank">Twitch</a>
          <a href="https://www.youtube.com/@syrupchan0/featured" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/naroyasan.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">名探偵なろ屋</div>
        <div class="member-platform">
          <a href="https://x.com/naroyasan" target="_blank">X</a>
          <a href="https://www.twitch.tv/naroyasan" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/tallemi_ella.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">タルレミ・エラ</div>
        <div class="member-platform">
          <a href="https://x.com/Tallemi_Ella" target="_blank">X</a>
          <a href="https://www.youtube.com/@Tallemi_Ella/" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
  </div>
</section>