<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">愛知勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/seiginaguru.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">正義なぐる</div>
        <div class="member-platform">
          <a href="https://x.com/seiginaguru" target="_blank">X</a>
          <a href="https://www.youtube.com/@seiginaguru" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set05">
        <img src="/images/member/ten151515.webp">
      </div>
      <div class="member-info">
        <div class="member-name">あまねてん</div>
        <div class="member-platform">
          <a href="https://x.com/ten151515" target="_blank">X</a>
          <a href="https://www.twitch.tv/ten_ten00" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/caro_ppi.webp">
      </div>
      <div class="member-info">
        <div class="member-name">きゃろ</div>
        <div class="member-platform">
          <a href="https://x.com/caro_ppi" target="_blank">X</a>
          <a href="https://www.youtube.com/@きゃろ-caro" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
  </div>
</section>