<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">三重勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/megatenga_pgs.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">Pのらちゃん</div>
        <div class="member-platform">
          <a href="https://x.com/megatenga_PGS" target="_blank">X</a>
          <a href="https://www.youtube.com/@Pのらちゃんねる" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/miroku_voice.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">弥勒セイジ</div>
        <div class="member-platform">
          <a href="https://x.com/miroku_voice" target="_blank">X</a>
          <a href="https://www.twitch.tv/vtubermiroku" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set07">
        <img src="/images/member/ashi3re.webp">
      </div>
      <div class="member-info">
        <div class="member-name">あしさんり</div>
        <div class="member-platform">
          <a href="https://x.com/Ashi3Re" target="_blank">X</a>
          <a href="https://www.twitch.tv/ashi3re" target="_blank">Twitch</a>
          <a href="https://www.youtube.com/@ashi3re" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
  </div>
</section>