<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">滋賀勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image set08">
        <img src="/images/member/poisama_toyobe.webp">
      </div>
      <div class="member-info">
        <div class="member-name">ぽいふる★ぽみゅぅ！</div>
        <div class="member-platform">
          <a href="https://x.com/Poisama_toyobe" target="_blank">X</a>
          <a href="https://www.twitch.tv/poi_sama_da" target="_blank">Twitch</a>
          <a href="https://www.youtube.com/@PoifuruPomyuu" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/ruu_niku.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">多部杉るう</div>
        <div class="member-platform">
          <a href="https://x.com/ruu_niku" target="_blank">X</a>
          <a href="https://www.twitch.tv/r_u_u_" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set08">
        <img src="/images/member/nanase_k7.webp">
      </div>
      <div class="member-info">
        <div class="member-name">神白ななせ</div>
        <div class="member-platform">
          <a href="https://x.com/nanase_k7" target="_blank">X</a>
          <a href="https://www.youtube.com/channel/UCFfKS52xZaus6HunxP3Owsw" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
  </div>
</section>