<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">京都勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/warabui.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">わらぶい</div>
        <div class="member-platform">
          <a href="https://x.com/_WARABUI_" target="_blank">X</a>
          <a href="https://www.youtube.com/@WARABUI" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/veinfxx.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">はせさま</div>
        <div class="member-platform">
          <a href="https://x.com/Veinfxx" target="_blank">X</a>
          <a href="https://www.twitch.tv/hasenpaii" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/techidayo86.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">小綿てち</div>
        <div class="member-platform">
          <a href="https://x.com/techidayo86" target="_blank">X</a>
          <a href="https://www.twitch.tv/techi86" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>