<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">大阪勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/nanaffy_x.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">ななっふぃー</div>
        <div class="member-platform">
          <a href="https://x.com/nanaffy_x" target="_blank">X</a>
          <a href="https://www.twitch.tv/nanaffy_x" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/shimon_vtuber.webp">
      </div>
      <div class="member-info">
        <div class="member-name">史門</div>
        <div class="member-platform">
          <a href="https://x.com/Shimon_Vtuber_" target="_blank">X</a>
          <a href="https://www.twitch.tv/shimon_vtuber_" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set08">
        <img src="/images/member/kingsnake2626.webp">
      </div>
      <div class="member-info">
        <div class="member-name">王蛇 まりぃ</div>
        <div class="member-platform">
          <a href="https://x.com/King_Snake2626" target="_blank">X</a>
          <a href="https://www.youtube.com/@kingsnakemarry" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
  </div>
</section>