<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">淡路島勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/kiti_maou.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">キチ</div>
        <div class="member-platform">
          <a href="https://x.com/kiti_maou" target="_blank">X</a>
          <a href="https://www.youtube.com/@%E3%82%AD%E3%83%81Kiti" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/uo_wwwww.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">コイツ</div>
        <div class="member-platform">
          <a href="https://x.com/uo_wwwww" target="_blank">X</a>
          <a href="https://www.youtube.com/@_koitsu_" target="_blank">YouTube</a>
          <a href="https://www.tiktok.com/@_koitsu_" target="_blank">TikTok</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/gohanjima_piyo.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">ご飯島ぴよ</div>
        <div class="member-platform">
          <a href="https://x.com/gohanjima_piyo" target="_blank">X</a>
          <a href="https://www.youtube.com/@papipupe_piyo" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
  </div>
</section>