<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">兵庫勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/jinta_1st.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">迅汰 / Jinta</div>
        <div class="member-platform">
          <a href="https://x.com/Jinta_1st" target="_blank">X</a>
          <a href="https://www.twitch.tv/jinta_v" target="_blank">Twitch</a>
          <a href="https://www.youtube.com/@Jinta_V" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set07 set05_01">
        <img src="/images/member/machikoriiita.webp">
      </div>
      <div class="member-info">
        <div class="member-name">まちこりーた</div>
        <div class="member-platform">
          <a href="https://x.com/machikoriiita" target="_blank">X</a>
          <a href="https://www.youtube.com/@machikoriiita" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/a_box_land.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">あっくん大魔王</div>
        <div class="member-platform">
          <a href="https://x.com/A_BOX_LAND" target="_blank">X</a>
          <a href="https://www.twitch.tv/akkun_daimao" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>