<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">奈良勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image set05 set07">
        <img src="/images/member/hi8na_.webp">
      </div>
      <div class="member-info">
        <div class="member-name">暁月ヒバナ</div>
        <div class="member-platform">
          <a href="https://x.com/HI8NA_" target="_blank">X</a>
          <a href="https://www.youtube.com/@HI8NACH" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set05 set07">
        <img src="/images/member/a0b0sh1.webp">
      </div>
      <div class="member-info">
        <div class="member-name">青星あお</div>
        <div class="member-platform">
          <a href="https://x.com/A0B0SH1" target="_blank">X</a>
          <a href="https://www.youtube.com/@A0B0SH1" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set05_01 set07">
        <img src="/images/member/akane_rin_.webp">
      </div>
      <div class="member-info">
        <div class="member-name">朱音りん</div>
        <div class="member-platform">
          <a href="https://x.com/_AkaneRin_" target="_blank">X</a>
          <a href="https://www.youtube.com/@_AkaneRin_" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
  </div>
</section>