<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">青森勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/rylaxdayo.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">りらっくす/りらお</div>
        <div class="member-platform">
          <a href="https://x.com/Rylax0710" target="_blank">X</a>
          <a href="https://www.youtube.com/channel/UC1qYMXAEVTfiD2ZFKsvmZ2Q" target="_blank">YouTube</a>
          <a href="https://www.twitch.tv/rylaxdayo" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/h4ch1p.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">はちぴ</div>
        <div class="member-platform">
          <a href="https://x.com/H4ch1_p_8" target="_blank">X</a>
          <a href="https://www.youtube.com/channel/UCSw3ViO--gU_eX0OTVTlw_A" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/rizqlt.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">りざ.</div>
        <div class="member-platform">
          <a href="https://x.com/RizqLt" target="_blank">X</a>
          <a href="https://www.twitch.tv/rizqlt" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>