<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">和歌山勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/shinoyakushino.png">
      </div>
      <div class="member-info">
        <div class="member-name">薬師乃しの</div>
        <div class="member-platform">
          <a href="https://x.com/ShinoYakushino" target="_blank">X</a>
          <a href="https://www.youtube.com/@ShinoYakushino" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/xeden07.webp">
      </div>
      <div class="member-info">
        <div class="member-name">えでん</div>
        <div class="member-platform">
          <a href="https://x.com/xEden07" target="_blank">X</a>
          <a href="https://www.youtube.com/@xEden07" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/asagiraika310.webp">
      </div>
      <div class="member-info">
        <div class="member-name">浅葱ライカ</div>
        <div class="member-platform">
          <a href="https://x.com/AsagiRaika310" target="_blank">X</a>
          <a href="https://www.twitch.tv/asagiraika" target="_blank">Twitch</a>
          <a href="https://www.youtube.com/@Asagi_Raika_ASRB" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
  </div>
</section>