<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">鳥取勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/kaguyakirari_v.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">月夜きらり</div>
        <div class="member-platform">
          <a href="https://x.com/Kaguyakirari_V" target="_blank">X</a>
          <a href="https://www.youtube.com/@Kaguyakirari_V" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/juritangames.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">JURI</div>
        <div class="member-platform">
          <a href="https://x.com/juritangames" target="_blank">X</a>
          <a href="https://www.twitch.tv/juritan" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/iamsuteio.webp">
      </div>
      <div class="member-info">
        <div class="member-name">すていお</div>
        <div class="member-platform">
          <a href="https://x.com/IAMSUTEIO" target="_blank">X</a>
          <a href="https://www.twitch.tv/suteio" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>