<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">島根勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/cesilia0716.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">せしりあ</div>
        <div class="member-platform">
          <a href="https://x.com/cesilia0716" target="_blank">X</a>
          <a href="https://www.twitch.tv/cesilia_grace" target="_blank">Twitch</a>
          <a href="https://www.youtube.com/@せしりあCh" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set01">
        <img src="/images/member/kumakoz_.webp">
      </div>
      <div class="member-info">
        <div class="member-name">くまこ</div>
        <div class="member-platform">
          <a href="https://x.com/kumakoz_" target="_blank">X</a>
          <a href="https://www.twitch.tv/kumako___" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set05">
        <img src="/images/member/aisaka_siu.webp">
      </div>
      <div class="member-info">
        <div class="member-name">藍坂しう</div>
        <div class="member-platform">
          <a href="https://x.com/aisaka_siu" target="_blank">X</a>
          <a href="https://www.twitch.tv/aisaka_siu" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>