<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">岡山勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/snapaaai.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">スナパイ</div>
        <div class="member-platform">
          <a href="https://x.com/snapaaai" target="_blank">X</a>
          <a href="https://www.youtube.com/@snapaaai" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set05_01 set07">
        <img src="/images/member/lisa_makoh.webp">
      </div>
      <div class="member-info">
        <div class="member-name">魔光リサ</div>
        <div class="member-platform">
          <a href="https://x.com/Lisa_Makoh" target="_blank">X</a>
          <a href="https://www.youtube.com/@Lisa_Makoh" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set05_01 set07">
        <img src="/images/member/ice_miru9.webp">
      </div>
      <div class="member-info">
        <div class="member-name">未空あいす</div>
        <div class="member-platform">
          <a href="https://x.com/ice_miru9" target="_blank">X</a>
          <a href="https://www.twitch.tv/ice_miruku" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>