<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">広島勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/carpemargaret.webp">
      </div>
      <div class="member-info">
        <div class="member-name">カルプ・マーガレット</div>
        <div class="member-platform">
          <a href="https://x.com/CarpeMargaret" target="_blank">X</a>
          <a href="https://www.youtube.com/@CarpeMargaret" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/shizu777_.webp">
      </div>
      <div class="member-info">
        <div class="member-name">スーパーゴミ子</div>
        <div class="member-platform">
          <a href="https://x.com/Shizu777_" target="_blank">X</a>
          <a href="https://www.twitch.tv/supergomiko" target="_blank">Twitch</a>
          <a href="https://www.youtube.com/@sig_supergomiko" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/norochan_319.webp">
      </div>
      <div class="member-info">
        <div class="member-name">のろちゃん</div>
        <div class="member-platform">
          <a href="https://x.com/norochan_319" target="_blank">X</a>
          <a href="https://www.twitch.tv/norochan728" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>