<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">山口勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/usya_lol.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">U者</div>
        <div class="member-platform">
          <a href="https://x.com/Usya_LoL" target="_blank">X</a>
          <a href="https://www.twitch.tv/usya" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set05">
        <img src="/images/member/3zame7nuka.webp">
      </div>
      <div class="member-info">
        <div class="member-name">潸鮫ナヌカ</div>
        <div class="member-platform">
          <a href="https://x.com/3zame7nuka" target="_blank">X</a>
          <a href="https://www.twitch.tv/3zame7nuka" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/sunystudio.webp">
      </div>
      <div class="member-info">
        <div class="member-name">サニースタジオ</div>
        <div class="member-platform">
          <a href="https://x.com/SunyStudio" target="_blank">X</a>
          <a href="https://www.twitch.tv/sunystudio" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>