<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">徳島勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/amasziki_ch.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">天喰そう</div>
        <div class="member-platform">
          <a href="https://x.com/Amasziki_ch" target="_blank">X</a>
          <a href="https://www.youtube.com/@amazikisou3058" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/senri_nekoneko.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">猫又せんり</div>
        <div class="member-platform">
          <a href="https://x.com/senri_nekoneko" target="_blank">X</a>
          <a href="https://www.youtube.com/@猫又せんり" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/kokuto_moon.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">月白刻人</div>
        <div class="member-platform">
          <a href="https://x.com/Kokuto_Moon" target="_blank">X</a>
          <a href="https://www.youtube.com/@TsukishiroKKT" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
  </div>
</section>