<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">香川勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/kanatayona_47.webp">
      </div>
      <div class="member-info">
        <div class="member-name">宇宙よな</div>
        <div class="member-platform">
          <a href="https://x.com/KanataYona_47" target="_blank">X</a>
          <a href="https://www.twitch.tv/kanatayona" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set05">
        <img src="/images/member/meliomeliee0.webp">
      </div>
      <div class="member-info">
        <div class="member-name">ぼっちめりお</div>
        <div class="member-platform">
          <a href="https://x.com/meliomeliee0" target="_blank">X</a>
          <a href="https://www.youtube.com/@meliomeliee0" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/mashita2525.webp">
      </div>
      <div class="member-info">
        <div class="member-name">真下</div>
        <div class="member-platform">
          <a href="https://x.com/mashita2525" target="_blank">X</a>
          <a href="https://www.twitch.tv/mashita_maue" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>