<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">愛媛勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image set05">
        <img src="/images/member/yue_yasima.webp">
      </div>
      <div class="member-info">
        <div class="member-name">やしまゆえ</div>
        <div class="member-platform">
          <a href="https://x.com/yue_yasima" target="_blank">X</a>
          <a href="https://www.twitch.tv/yashimayue" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/17_nuinui.webp">
      </div>
      <div class="member-info">
        <div class="member-name">ぬぃぬぃ</div>
        <div class="member-platform">
          <a href="https://x.com/17_Nuinui" target="_blank">X</a>
          <a href="https://www.twitch.tv/nuinui_17" target="_blank">Twitch</a>
          <a href="https://www.youtube.com/@ぬぃぬぃげーむず" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/anannekohiroshi.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">あなん</div>
        <div class="member-platform">
          <a href="https://x.com/ANANnekohiroshi" target="_blank">X</a>
          <a href="https://www.twitch.tv/neko_hiroshi" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>