<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">岩手勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/fps_leia.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">LEIA</div>
        <div class="member-platform">
          <a href="https://x.com/Leia_yAy" target="_blank">X</a>
          <a href="https://www.twitch.tv/fps_leia" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/sapo_ten.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">さぽてん</div>
        <div class="member-platform">
          <a href="https://x.com/sapoten_Apex" target="_blank">X</a>
          <a href="https://www.twitch.tv/sapo_ten" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/ayato_natsuki.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">ナツキアヤト</div>
        <div class="member-platform">
          <a href="https://x.com/Ayato_Natsuki" target="_blank">X</a>
          <a href="https://www.youtube.com/@NatsukiAyato" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
  </div>
</section>