<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">福岡勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image set10">
        <img src="/images/member/ryunomeari.webp">
      </div>
      <div class="member-info">
        <div class="member-name">竜乃メアリ</div>
        <div class="member-platform">
          <a href="https://x.com/RyunoMeari" target="_blank">X</a>
          <a href="https://www.youtube.com/@RyunoMeari" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set09">
        <img src="/images/member/meikai_loveka.webp">
      </div>
      <div class="member-info">
        <div class="member-name">冥海らぶか</div>
        <div class="member-platform">
          <a href="https://x.com/meikai_loveka" target="_blank">X</a>
          <a href="https://www.twitch.tv/meikai_loveka" target="_blank">Twitch</a>
          <a href="https://www.youtube.com/@Meikai_Loveka" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set05">
        <img src="/images/member/yukinosekumochi.webp">
      </div>
      <div class="member-info">
        <div class="member-name">雪ノ精くもち</div>
        <div class="member-platform">
          <a href="https://x.com/yukinosekumochi" target="_blank">X</a>
          <a href="https://www.youtube.com/@YukinoseKumochi" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
  </div>
</section>