<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">長崎勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image set11">
        <img src="/images/member/tokoharu28_17.webp">
      </div>
      <div class="member-info">
        <div class="member-name">常春ふたば</div>
        <div class="member-platform">
          <a href="https://x.com/Tokoharu28_17" target="_blank">X</a>
          <a href="https://www.twitch.tv/xxfutaba" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/sosnyorox2.webp">
      </div>
      <div class="member-info">
        <div class="member-name">にょろ氏</div>
        <div class="member-platform">
          <a href="https://x.com/sosnyorox2" target="_blank">X</a>
          <a href="https://www.twitch.tv/nyorox2ag" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/kannagi_shiyu.webp">
      </div>
      <div class="member-info">
        <div class="member-name">神薙しゆう</div>
        <div class="member-platform">
          <a href="https://x.com/kannagi_shiyu" target="_blank">X</a>
          <a href="https://www.twitch.tv/kannagi_shiyu" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>