<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">熊本勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image set05_01">
        <img src="/images/member/p0n_tori_um.webp">
      </div>
      <div class="member-info">
        <div class="member-name">ぽんとりあむ</div>
        <div class="member-platform">
          <a href="https://x.com/p0n_tori_um" target="_blank">X</a>
          <a href="https://www.youtube.com/@p0ntorium" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set11">
        <img src="/images/member/tn_ragna.webp">
      </div>
      <div class="member-info">
        <div class="member-name">となりのラグナ</div>
        <div class="member-platform">
          <a href="https://x.com/tn_ragna?s=21" target="_blank">X</a>
          <a href="https://www.youtube.com/@となりのらぐな" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/nyao_darunyao.webp">
      </div>
      <div class="member-info">
        <div class="member-name">陽ノ宮にゃお</div>
        <div class="member-platform">
          <a href="https://x.com/nyao_darunyao" target="_blank">X</a>
          <a href="https://www.twitch.tv/hinomiyanyao1214" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>