<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">大分勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/kira_nanase_.webp">
      </div>
      <div class="member-info">
        <div class="member-name">輝七瀬</div>
        <div class="member-platform">
          <a href="https://x.com/Kira_Nanase_" target="_blank">X</a>
          <a href="https://www.youtube.com/@輝七瀬_NanaseKira" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/9m_lynn.webp">
      </div>
      <div class="member-info">
        <div class="member-name">白熊りん</div>
        <div class="member-platform">
          <a href="https://x.com/9m_lynn" target="_blank">X</a>
          <a href="https://www.youtube.com/@白熊りん" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set07 set08">
        <img src="/images/member/z_c7r.webp">
      </div>
      <div class="member-info">
        <div class="member-name">ななのぶ</div>
        <div class="member-platform">
          <a href="https://x.com/z_c7r" target="_blank">X</a>
          <a href="https://www.youtube.com/@nananobu" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
  </div>
</section>