<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">宮崎勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/tepo_tama.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">てぽたま</div>
        <div class="member-platform">
          <a href="https://x.com/tepo_tama" target="_blank">X</a>
          <a href="https://www.twitch.tv/tepotamasann" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set11">
        <img src="/images/member/amatochan1.webp">
      </div>
      <div class="member-info">
        <div class="member-name">雅楽アマト</div>
        <div class="member-platform">
          <a href="https://x.com/amatochan1" target="_blank">X</a>
          <a href="https://www.youtube.com/@UtaAmato" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set12">
        <img src="/images/member/igutatsuGames.webp">
      </div>
      <div class="member-info">
        <div class="member-name">いぐたつ/イグニス達雄</div>
        <div class="member-platform">
          <a href="https://x.com/igutatsuGames" target="_blank">X</a>
          <a href="https://www.youtube.com/@igutatsuGames" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
  </div>
</section>