<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">鹿児島勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/zawakun_f.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">小澤直将</div>
        <div class="member-platform">
          <a href="https://x.com/zawakun_f" target="_blank">X</a>
          <a href="https://www.twitch.tv/zawakun47" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/nakosonjp.webp">
      </div>
      <div class="member-info">
        <div class="member-name">nakoson</div>
        <div class="member-platform">
          <a href="https://x.com/nakosonjp" target="_blank">X</a>
          <a href="https://www.twitch.tv/nakoson" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/krm_ku2525ma.webp">
      </div>
      <div class="member-info">
        <div class="member-name">彷徨うくま</div>
        <div class="member-platform">
          <a href="https://x.com/KRM_ku2525ma" target="_blank">X</a>
          <a href="https://www.twitch.tv/ku_ma2525" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>