<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">沖縄勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/ask0oxo0.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">アスカタン</div>
        <div class="member-platform">
          <a href="https://x.com/ask0oxo0" target="_blank">X</a>
          <a href="https://kick.com/asukatan" target="_blank">Kick</a>
          <a href="https://www.twitch.tv/ask0owo0" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/aisaka_game.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">逢坂愛</div>
        <div class="member-platform">
          <a href="https://x.com/aisaka_game" target="_blank">X</a>
          <a href="https://www.twitch.tv/aisakamegumi" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image set13">
        <img src="/images/member/usa4yu.webp">
      </div>
      <div class="member-info">
        <div class="member-name">兎華遥歩</div>
        <div class="member-platform">
          <a href="https://x.com/Usa4yu" target="_blank">X</a>
          <a href="https://www.twitch.tv/usa4yu" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>