<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">北海道 南 勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/hatsume.webp">
      </div>
      <div class="member-info">
        <div class="member-name">はつめ</div>
        <div class="member-platform">
          <a href="https://x.com/hatsumememe" target="_blank">X</a>
          <a href="https://www.youtube.com/@Hatsume" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/shuumiya.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">しゅーみや</div>
        <div class="member-platform">
          <a href="https://x.com/uyu3uu" target="_blank">X</a>
          <a href="https://www.twitch.tv/uyu3uu" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/kion.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">KION / キオン</div>
        <div class="member-platform">
          <a href="https://x.com/FPS_KION" target="_blank">X</a>
          <a href="https://www.twitch.tv/fps_kion" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>