<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">宮城勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/carrot401yen.png">
      </div>
      <div class="member-info">
        <div class="member-name">ショイ・キャロリーヌ</div>
        <div class="member-platform">
          <a href="https://x.com/Carrot401yen" target="_blank">X</a>
          <a href="https://www.twitch.tv/carrot401yen" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/r_aru7.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">あーる。</div>
        <div class="member-platform">
          <a href="https://x.com/R_aru7" target="_blank">X</a>
          <a href="https://www.twitch.tv/r_aru7" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/bignico.png">
      </div>
      <div class="member-info">
        <div class="member-name">𝐁𝐢𝐆𝐍𝐢𝐂𝐎</div>
        <div class="member-platform">
          <a href="https://x.com/BIGNICO666" target="_blank">X</a>
          <a href="https://www.twitch.tv/bignico_nico" target="_blank">Twitch</a>
          <a href="https://www.youtube.com/c/BIGNICO" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
  </div>
</section>