<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">秋田勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/nfx_yurina.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">ゆりな</div>
        <div class="member-platform">
          <a href="https://x.com/NFX_Yurina" target="_blank">X</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/itslilbooze.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">LIL BOOZE</div>
        <div class="member-platform">
          <a href="https://x.com/belowthestxrs" target="_blank">X</a>
          <a href="https://www.twitch.tv/itslilbooze" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/dekatuyo00.webp">
      </div>
      <div class="member-info">
        <div class="member-name">でかつよ！</div>
        <div class="member-platform">
          <a href="https://x.com/dekatuyo00" target="_blank">X</a>
          <a href="https://www.twitch.tv/dekatuyo00" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>