<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">山形勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/iam_despea.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">ですぺあ</div>
        <div class="member-platform">
          <a href="https://x.com/Iam_Despea" target="_blank">X</a>
          <a href="https://www.twitch.tv/iam_despea" target="_blank">Twitch</a>
          <a href="https://www.youtube.com/@%E3%81%A7%E3%81%99%E3%81%BA%E3%81%82" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/nacchi081.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">なっち</div>
        <div class="member-platform">
          <a href="https://x.com/Nacchi081181" target="_blank">X</a>
          <a href="https://www.twitch.tv/nacchi081" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/koakuma1717.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">おデビル</div>
        <div class="member-platform">
          <a href="https://x.com/koakuma1717" target="_blank">X</a>
          <a href="https://www.youtube.com/@%E3%82%AA%E3%83%87%E3%83%93%E3%83%AB" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
  </div>
</section>