<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">福島勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/tsuboss.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">tsuboss</div>
        <div class="member-platform">
          <a href="https://x.com/tsuboss1" target="_blank">X</a>
          <a href="https://www.twitch.tv/tsuboss" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/nicochin.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">ニコチン兄貴</div>
        <div class="member-platform">
          <a href="https://x.com/nicochin_TTV" target="_blank">X</a>
          <a href="https://www.twitch.tv/nicochin_TTV" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/game_onna.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">おデビル</div>
        <div class="member-platform">
          <a href="https://x.com/game_onna" target="_blank">X</a>
          <a href="https://www.twitch.tv/sumi_oy" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>