<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">茨城勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/sagara.webp">
      </div>
      <div class="member-info">
        <div class="member-name">サガラ</div>
        <div class="member-platform">
          <a href="https://x.com/game_sagara" target="_blank">X</a>
          <a href="https://www.twitch.tv/altra_sagara" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/wiliam_naokichi.webp">
      </div>
      <div class="member-info">
        <div class="member-name">ウィリアムなおきち</div>
        <div class="member-platform">
          <a href="https://x.com/wiliam_naokichi" target="_blank">X</a>
          <a href="https://www.twitch.tv/william_naokichi" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/sikapopo.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">しかぽ</div>
        <div class="member-platform">
          <a href="https://x.com/Sikapopo1" target="_blank">X</a>
          <a href="https://www.twitch.tv/sikapopo" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>