<section class="faction">
  <div class="modal-header">
    <h2 class="pref-name">栃木勢力</h2>
  </div>
  <div class="member-grid">
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/asem_yu.webp">
      </div>
      <div class="member-info">
        <div class="member-name">あせむ</div>
        <div class="member-platform">
          <a href="https://x.com/asem_yu" target="_blank">X</a>
          <a href="https://www.twitch.tv/asem_yu" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/content1percent.jpg">
      </div>
      <div class="member-info">
        <div class="member-name">れとわん</div>
        <div class="member-platform">
          <a href="https://x.com/content1percent" target="_blank">X</a>
          <a href="https://www.twitch.tv/content_rate1percent" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
    <div class="member-card">
      <div class="member-image">
        <img src="/images/member/maru_takahashi.webp">
      </div>
      <div class="member-info">
        <div class="member-name">タカハシマル</div>
        <div class="member-platform">
          <a href="https://x.com/maru_takahashi4" target="_blank">X</a>
          <a href="https://www.twitch.tv/maru_takahashi" target="_blank">Twitch</a>
        </div>
      </div>
    </div>
  </div>
</section>